@use 'global';
@use 'reset';

body {
    height: 100dvh;
    width: 100dwh;
    background: rgb(190, 113, 113);
    padding: 50px;
}

#calContainer {
    background: rgb(209, 170, 96);
    min-height: 100%;
    border-radius: 15px;

    h1 {
        padding-bottom: 50px;
        color: white;
    }
}

#calculator {
    background: grey;
    min-height: 500px;
    min-width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#screen {
    min-height: 80px;
    min-width: 300px;
    background: black;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.calcButtonRows {
    min-width: 300px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calcButtons {
    min-width: 70px;
    max-height: 70px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}